<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <!--此处通用配置设置超时时间和数据大小限制-->
        <basicHttpBinding>
          <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                   maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <security mode="None"></security>
          </binding>
        </basicHttpBinding>
        <!--此处通用配置设置超时时间和数据大小限制-->
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="TYExServiceCore.TyService">
                <endpoint address="" binding="basicHttpBinding" contract="TYExServiceCore.ITyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/TYExServiceCore/Service/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
