<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!--此处通用配置设置超时时间和数据大小限制-->
      <basicHttpBinding>
        <binding closeTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
      <!--此处通用配置设置超时时间和数据大小限制-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="TYExServiceCore.TyService">
        <endpoint address="" binding="basicHttpBinding" contract="TYExServiceCore.ITyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/TYExServiceCore/Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <!-- 这里配置让服务器确认是否是调试模式，开发时请将以下值设置为 true。在部署前设置为 false 使服务器隐藏启动并打入开机自启注册表 -->
    <add key="ServiceDeBug" value="true" />
    <!-- 这里配置服务器类库名称，主入口类还是必须Index -->
    <add key="ServiceName" value="TYExService" />
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source=D:\mydb.db;Password=123456;Version=3;" providerName="sqlite"/>
    <!--<add name="DbConnection" connectionString="server=127.0.0.1;database=mydb;user id=root;password=123456;character set=gbk;" providerName="mysql" />-->
    <!--<add name="DbConnection" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 127.0.0.1)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));Persist Security Info=True;User Id=mydb;Password=123456;" providerName="oracle"/>-->
    <!--<add name="DbConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=XXPL_Server;User ID=sa;Password=123456;Integrated Security=false;" providerName="mssql"/>-->
  </connectionStrings>
</configuration>
