<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="RecentProjects" value="D:\000MyGit\csharp\C#软件Dll加密混淆工具\默认加密配置.ilproj" />
        <add key="RecentFiles" value="D:\000MyGit\csharp\yx\bin\Debug\yx.dll" />
        <add key="LatestUpdate" value="00000000|00000000" />
    </appSettings>
</configuration>