<configuration>
   <appSettings>
      <add key="RecentProjects" value="C:\Users\Administrator\Desktop\yx_Locked\C#软件Dll加密混淆工具\默认加密配置.ilproj|C:\Users\Administrator\Desktop\yx_Locked\默认配置.ilproj" />
      <add key="RecentFiles" value="C:\Users\Administrator\Desktop\yx_Locked\yx.dll|C:\Users\Administrator\Desktop\yx_Locked\答题程序.exe|C:\Users\Administrator\Desktop\yx.dll|E:\我的作品\无机世界DNT核心类库1.0.0.210\ZhongCong\bin\Release\ZhongCong.dll" />
      <add key="LatestUpdate" value="00000000|00000000" />
   </appSettings>
   <startup>
      <supportedRuntime version="v2.0.50727"/>
      <supportedRuntime version="v3.0.4506"/>
      <supportedRuntime version="v3.5.21022"/>
      <supportedRuntime version="v3.5.30729"/>
   </startup>
</configuration>