<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/TYExServiceCore/Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITyService"
                contract="TYExService.ITyService" name="BasicHttpBinding_ITyService" />
        </client>
    </system.serviceModel>
</configuration>